# VSCode
.vscode/

# folders
schemas/**
confd/**
helm/**
public/**

# generated or special files
CHANGELOG.md

# generated TypeScript models
src/discrete-layer/models/**

# benchmark json files (must not be formatted)
src/common/hooks/useGetGpuTier/benchmarks/**/*.json
