.jobDataContainer {
  padding: 10px;
  background: var(--mdc-theme-gc-tab-active-background);
  border: 1px solid var(--mdc-theme-text-primary-on-dark);
  display: flex;
  align-items: center;
  justify-content: center;
}

.jobDataContainer .linkItem>a {
  text-decoration: underline;
  color: var(--mdc-theme-text-primary-on-dark);
  font-size: 1rem;
}