.pending {
  color: var(--mdc-theme-gc-status-pending);
}
.inprogress {
  color: var(--mdc-theme-gc-status-in-progress);
}
.completed {
  color: var(--mdc-theme-gc-status-completed);
}
.failed {
  color: var(--mdc-theme-gc-status-failed);
}
.expired {
  color: var(--mdc-theme-gc-status-expired);
}
.CompletedArea {
  background: var(--mdc-theme-gc-status-completed);
  opacity: 0.85;
}
.FailedArea {
  background: var(--mdc-theme-gc-status-failed);
  opacity: 0.85;
}
.InProgressArea {
  background: var(--mdc-theme-gc-status-in-progress);
  opacity: 0.85;
}
.SuspendedArea {
  background: var(--mdc-theme-gc-status-suspended);
}
.ExpiredArea {
  background: var(--mdc-theme-gc-status-expired);
  opacity: 0.85;
}
.progressSectionsContainer {
  display:flex;
  align-items: flex-start;
  position: relative;
}
.statusBarContainer {
  display: flex;
  width: 100px;
  height: 38px;
  align-items: center;
  flex-direction: column-reverse;
  position: relative;
}
.statusText {
  position: absolute;
  top:-10px;
}
.statusBar {
  border: 1px solid rgba(255, 255, 255, 0.5);
  overflow: hidden;
}

.progressPercentage {
  color: var(--mdc-theme-text-primary-on-dark);
  font-weight: bold;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;  
  padding-bottom: 8px;
}
