#dialog3DDelete {
  --disclaimer-height: 60px;
  --header-height: 154px;
  --footer-height: 60px;
  --modal-height: 100vh;
  --modal-width: 888px;
  --map-height: calc(100% - var(--header-height) - var(--footer-height) - var(--disclaimer-height));
}
