.icon-wrapper {
  position: relative;
  width: 24px;
  height: 24px;
}

.mc-icon-Ok {
  position: absolute;
  font-size: 8px;
  bottom: 4px;
  left: 12px;
}

body[dir='rtl'] .mc-icon-Ok {
  top: 10px;
  right: 4px;
  bottom: unset;
  left: unset;
}
