#progressCurtain {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  font-weight: 600;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 2ch;
  z-index: 4;
}

#progressCurtain .progressTable {
  border-collapse: collapse;
}

#progressCurtain .progressTable thead tr {
  border-bottom: 1px solid var(--mdc-theme-gc-selection-background, #fff);
}

#progressCurtain .progressTable th,
#progressCurtain .progressTable td {
  padding: 1ch;
  text-align: start;
}

#progressCurtain .progressTable .colProcess {
  min-width: 16ch;
}

#progressCurtain .progressTable .colTime {
  min-width: 8ch;
}

#progressCurtain .errorsContainer {
  display: flex;
  justify-self: end;
  height: 10ch;
  padding-top: 10ch;
}

#progressCurtain .curtainRow.blink {
  animation: blink 3s ease-in-out infinite alternate;
}
