.relativePosition {
  position: relative;
}

#progressCurtain {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-weight: 600;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 4;
  font-size: 16px;
}

#progressCurtain .curtainRow {
  display: flex;
  align-items: center;
  width: 100%;
  color: var(--mdc-theme-text-primary-on-background);
  text-align: center;
  padding: 16px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.45);
}

#progressCurtain .curtainRow .workerTypeStage {
  font-size: 20px;
}

#progressCurtain .processName {
  min-width: 200px;
  display: inline-block;
  text-align: start;
  padding: 0px 5px;
}

#progressCurtain .info {
  display: flex;
  gap: 12px;
}

#progressCurtain .progress {
  min-width: 88px;
  text-align: right;
}

#progressCurtain .elapsedTime {
  min-width: 88px;
  text-align: right;
}

#progressCurtain .errorsContainer {
  height: 100px;
  padding-top: 100px;
  justify-self: end;
}

#progressCurtain .curtainRow.inactive {
  opacity: 0.6;
}

#progressCurtain .curtainRow.blink {
  animation: blink 3s ease-in-out infinite alternate;
}
