#progressCurtain {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-weight: 600;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1ch;
  background-color: rgba(0, 0, 0, 0.6);
  font-size: 2ch;
  overflow-y: auto;
}

#progressCurtain .curtainRow {
  display: flex;
  align-items: center;
  width: 100%;
  color: var(--mdc-theme-text-primary-on-background);
  text-align: center;
  padding: 2ch;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.45);
}

#progressCurtain .titles {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 2ch 6ch;
}

#progressCurtain .titleIconSpacer {
  min-width: 36px;
}

#progressCurtain .titleProcess {
  min-width: 20ch;
  padding: 0 0.5ch;
  text-align: start;
}

#progressCurtain .titleProgress {
  min-width: 10ch;
  text-align: end;
}

#progressCurtain .titleTime {
  min-width: 8ch;
  text-align: end;
}

#progressCurtain .curtainRow .icon {
  font-size: 24px;
  padding: 0px 8px;
}

#progressCurtain .processName {
  min-width: 24ch;
  display: inline-block;
  text-align: start;
  padding: 0 0.5ch;
}

#progressCurtain .info {
  display: flex;
  gap: 4ch;
}

#progressCurtain .progress {
  min-width: 8ch;
  text-align: start;
}

body[dir='rtl'] #progressCurtain .progress {
  text-align: end;
}

#progressCurtain .elapsedTime {
  min-width: 8ch;
  text-align: start;
}

body[dir='rtl'] #progressCurtain .elapsedTime {
  text-align: end;
}

#progressCurtain .errorsContainer {
  display: flex;
  justify-self: end;
  height: 10ch;
  padding-top: 10ch;
}

#progressCurtain .curtainRow.inactive {
  opacity: 0.6;
}

#progressCurtain .curtainRow.blink {
  animation: blink 3s ease-in-out infinite alternate;
}
