#rasterJobData.jobDataContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  font-size: 1rem;
  font-weight: bold;
}

#rasterJobData .content {
  flex-grow: 1;
  text-align: center;
}

#rasterJobData .errorsContainerPosition {
  display: flex;
  align-items: center;
  min-width: 168px;
}

#rasterJobData .errorsSummaryContainer {
  display: flex;
  align-items: center;
}

#rasterJobData .statusIcon {
  cursor: default;
  padding-top: 8px;
}

#rasterJobData .downloadIcon {
  font-size: 20px;
  padding: 0 20px 0 20px;
  cursor: pointer;
}
/* This class is used inside a tooltip that is rendered directly under the <body>,
   so it cannot rely on a more specific parent selector */
.reportItem {
  display: flex;
  padding: 4px 2px;
  gap: 12px;
  font-size: 0.9rem;
  justify-content: space-between;
}
