#rasterJobData.jobDataContainer {
  height: 40px;
  font-size: 1rem;
  font-weight: bold;
}

#rasterJobData .errorsContainerPosition {
  position: absolute;
  inset-inline-end: 100px;
}

#rasterJobData .errorsSummaryContainer {
  display: flex;
  align-items: center;
}

/* This class is used inside a tooltip that is rendered directly under the <body>,
   so it cannot rely on a more specific parent selector */
.reportItem {
  display: flex;
  padding: 4px 2px;
  gap: 12px;
  font-size: 0.9rem;
  justify-content: space-between;
}