#rasterJobData.jobDataContainer {
  flex-direction: row;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}

#rasterJobData .errorsCountContainer {
  position: absolute;
  right: 72px;
  width: 150px;
}

body[dir='rtl'] #rasterJobData .errorsCountContainer {
  right: unset;
  left: 72px;
}

#rasterJobData .errorsCountContainer>a {
  color: var(--mdc-theme-gc-error-high) !important;
}

#rasterJobData .errorsCountContainer .error {
  cursor: default !important;
}

#rasterJobData .errorsCountContainer{
  cursor: pointer;
}

#rasterJobData .errorContainer {
  flex-grow: 1;
  display: flex;
  color: var(--mdc-theme-gc-error-high);
  align-items: flex-start;
}

#rasterJobData .errorsCountContainer {
  display: flex;
  align-items: center;
}

#rasterJobData .errorsCountContainer.noErrors {
  color: var(--mdc-theme-gc-success) !important;
}

.reportList {
  display: flex;
  padding: 4px 2px;
  gap: 12px;
  font-size: 0.9rem;
  justify-content: space-between;
}