#exportJobData.jobDataContainer {
  flex-direction: column;
  gap: 10px;
}

#exportJobData.jobDataContainer .jobDescription {
    margin: 0;
}

#exportJobData.jobDataContainer .exportJobLinkContainer {
  display: flex;
  gap: 12px;
}

#exportJobData.jobDataContainer .exportJobLinkContainer > a:hover {
    filter: brightness(150%);
}

#exportJobData.jobDataContainer .jobDescriptionContainer .expired {
    color: var(--mdc-theme-gc-error-high);
}

#exportJobData.jobDataContainer .jobDescriptionContainer .valid {
    color: var(--mdc-theme-gc-priority-normal);
}

#exportJobData .linkContainer {
  display: flex;
  align-items: end;
}

#exportJobData .jobDataLink {
  color: var(--mdc-theme-text-primary-on-dark);
  font-size: 1.1rem;
}
