/* .paginationIcon.mdc-icon-button button {
  font-size: 14px !important;
} */

.paginationIcon .material-icons {
  font-size: 18px;
}

.navigateBar {
  position: relative;
  flex-shrink: 0;
  color: #AFBFDA;
  display: flex;
  align-items: center;
}