#rasterRevertDialog {
  --disclaimer-height: 52px;
  --header-height: 154px;
  --footer-height: 60px;
  --modal-height: 100vh;
  --overlay-panel-width: 280px;
  --overlay-panel-gap: 16px;
  --modal-width: calc(960px + var(--overlay-panel-width) + var(--overlay-panel-gap));
  --map-height: calc(100% - var(--header-height) - var(--disclaimer-height) - var(--footer-height));
}

#rasterRevertDialog .overlaySwitches,
#rasterRevertDialog .backupInfo {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 12px;
  border: 1px solid var(--mdc-theme-gc-selection-background);
  border-radius: 8px;
}

#rasterRevertDialog .overlaySwitches {
  margin-bottom: 12px;
}

#rasterRevertDialog .overlaySwitchRow {
  display: flex;
  align-items: center;
}

#rasterRevertDialog .overlaySwitchRow .mdc-switch {
  zoom: 0.9;
}

#rasterRevertDialog .overlaySwitchLabel {
  display: flex;
  align-items: center;
  gap: 8px;
  flex: 1;
}

#rasterRevertDialog .overlaySwitchSpacer {
  width: 16px;
  height: 16px;
  flex: 0 0 auto;
}

#rasterRevertDialog .overlaySeparator {
  width: 100%;
  height: 1px;
  border: 1px solid var(--mdc-theme-text-primary-on-dark);
  opacity: 0.7;
}

#rasterRevertDialog .backupInfoField {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

#rasterRevertDialog .backupInfoLabel {
  color: var(--mdc-theme-text-icon-on-dark);
}

#rasterRevertDialog .overlaySwitchLabel p,
#rasterRevertDialog .backupInfoField p {
  margin: 0;
  white-space: nowrap;
}

#rasterRevertDialog .switchLabelActive {
  font-weight: bold;
}

#rasterRevertDialog .sectionTitle {
  margin: 0;
  color: var(--mdc-theme-text-icon-on-dark);
  font-weight: bold;
}

#rasterRevertDialog .featureTitlePreviewBadge {
  min-width: 16px;
  padding: 0 8px;
  width: 40px;
  height: 20px;
  border-radius: 12px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

#rasterRevertDialog .featurePreviewBadge {
  width: 16px;
  height: 16px;
  border-radius: 50%;
}
