#rasterDeleteDialog {
  --disclaimer-height: 60px;
  --header-height: 150px;
  --fields-height: 36px;
  --fields-offset: 8px;
  --footer-height: 60px;
  --modal-height: 100vh;
  --modal-width: 888px;
  --map-height: calc(
    100% - var(--header-height) - var(--disclaimer-height) - var(--fields-height) -
      var(--fields-offset) - var(--footer-height)
  );
}
