#layerDetailsFormRaster .progressContainer {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

#layerDetailsFormRaster .reportContainer {
  margin: 4px;
}

#layerDetailsFormRaster .panel {
  background-color: rgba(0, 0, 0, 0.3);
}

#layerDetailsFormRaster .reportList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0px;
  margin: 0 8px;
  height: 164px;
  overflow-y: auto;
}

#layerDetailsFormRaster .countWrapper {
  display: contents;
}

#layerDetailsFormRaster .reportError {
  height: 164px;
  margin: 0 8px;
  overflow-y: auto;
}

#layerDetailsFormRaster .reportLoading {
  margin: 6px;
}

#layerDetailsFormRaster .reportInProgress {
  margin: 60px 0;
}
