#layerDetailsFormRaster .form {
  max-height: 880px !important;
}

#layerDetailsFormRaster .curtain {
  position: absolute;
  width: 100%;
  background-color: #000;
  opacity: 0.3;
  border-radius: 10px;
  z-index: 4;
  top: 0;
  left: 0;
  bottom: 0;
  margin-top: 33%;
  margin-bottom: -11%;
}

#layerDetailsFormRaster .curtain.update {
  margin-bottom: unset;
}

#layerDetailsFormRaster .content {
  max-height: var(--content-height);
  overflow-y: auto;
  padding:  0px 20px 0px 20px;
  position: relative;
}

#layerDetailsFormRaster .section {
  border: 1px solid var(--mdc-theme-gc-selection-background, #fff);
  border-radius: 10px;
  /* overflow-y: hidden; */
}

#layerDetailsFormRaster .header.section {
  height: var(--ingestion-fields-height);
}

#layerDetailsFormRaster .footer {
  display: flex;
  margin-top: var(--footer-offset);
  width: 100%;
  height: var(--footer-height);
}

body[dir='rtl'] #layerDetailsFormRaster .footer {
  left: 20px;
}

#layerDetailsFormRaster .buttons {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-left: auto;
}

body[dir='rtl'] #layerDetailsFormRaster .buttons {
  margin-left: unset;
  margin-right: auto;
}

#layerDetailsFormRaster .messages {
  display: flex;
  flex-direction: column;
  height: 60px;
  overflow-y: auto;
}

#layerDetailsFormRaster .categoryFieldsParentContainer {
  margin-top: inherit;
}

#layerDetailsFormRaster .rmwc-collapsible-list__handle .mdc-list-item{
  border: 1px solid var(--mdc-theme-gc-selection-background);
  margin-top: 2px;
}


#layerDetailsFormRaster .enumOptions .mdc-menu.mdc-select__menu.mdc-menu-surface.mdc-menu-surface--open {
  bottom: auto !important;
  top: 24px;
}

body[dir='rtl'] #layerDetailsFormRaster .enumOptions .mdc-select__dropdown-icon {
  right: initial;
  left: initial;
}

#layerDetailsFormRaster .previewAndJobContainer {
  display: flex;
  height: 410px;
  margin: 16px 0 4px 0;
}

#layerDetailsFormRaster .jobData {
  display: flex;
  flex-direction: column;
  width: 728px;
  margin: 0 4px;
  padding: 8px;
}

#layerDetailsFormRaster .center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#layerDetailsFormRaster .title {
  margin: 4px 8px;
}

#layerDetailsFormRaster .bold {
  font-weight: bold;
}

#layerDetailsFormRaster .underline {
  border-bottom: 1px solid var(--mdc-theme-gc-selection-background);
}

#layerDetailsFormRaster .progress {
  flex: 1;
}

#layerDetailsFormRaster .progressBar {
  width: 150px;
  height: 150px;
}

#layerDetailsFormRaster .map {
  border: 1px solid var(--mdc-theme-gc-selection-background, #fff);
}

#layerDetailsFormRaster .reportContainer {
  margin: 4px;
}

#layerDetailsFormRaster .reportList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4px;
  margin: 0 8px;
  height: 120px;
  overflow-y: auto;
}

#layerDetailsFormRaster .ReactVirtualized__Grid.ReactVirtualized__List{
  direction: inherit !important;
}

#layerDetailsFormRaster .mdc-checkbox__ripple {
  display: none;
}

#layerDetailsFormRaster .flexCheckItem {
  flex: 1;
  position: relative;
}

#layerDetailsFormRaster .mdc-checkbox__background {
  width: 12px;
  height: 12px;
}

#layerDetailsFormRaster .showOnMapContainer .mdc-checkbox {
  padding-left: 0px;
}

#layerDetailsFormRaster .showOnMapContainer label {
  padding-bottom: 6px;
  color: var(--mdc-theme-text-icon-on-dark);
}
