#layerDetailsFormRaster .progress {
  flex: 1;
}

#layerDetailsFormRaster .progressBar {
  width: 150px;
  height: 150px;
}

#layerDetailsFormRaster .spacer {
  width: 64px;
  height: 54px;
}

#layerDetailsFormRaster .icon {
  font-size: 52px;
  cursor: default;
}

#layerDetailsFormRaster .text {
  position: relative;
}

body[dir='rtl'] #layerDetailsFormRaster .dots {
  left: unset;
  right: 100%;
}

#layerDetailsFormRaster .percentage {
  font-size: 20px;
  cursor: default;
}
