#layerDetailsFormRaster .curtainContainer {
  position: relative;
}

#layerDetailsFormRaster .curtain {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.3;
  border-radius: 10px;
  z-index: 4;
  top: 0;
  left: 0;
}

#layerDetailsFormRaster .curtain .progress {
   position: absolute;
   top: 20%;
   left: 50%;
} 